@font-face {
  font-family: poppins;
  src: url('Poppins-Medium.ttf');
  font-weight: 500;
  font-display:swap;
}
@font-face {
  font-family: poppins;
  src: url('Poppins-Light.ttf');
  font-weight: 200;
  font-display:swap;
}
@font-face {
  font-family: poppins;
  src: url('Poppins-Bold.ttf');
  font-weight: 800;
  font-display:swap;
}
@font-face {
  font-family: poppins;
  src: url('Poppins-ExtraLight.ttf');
  font-weight: 100;
  font-display:swap;
}